@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$textPrimaryColor: #EDE6DB;
$textSecondaryColor: #1A3C40;

$backgroundPrimaryColor: #069A8E;
$backgroundSecondaryColor: #005555;

$buttonPrimaryColor: #A1E3D8;
$buttonSecondaryColor: #F7FF93;

$titleFont: "Ms Madi", cursive;
$textFont: 'Quicksand', sans-serif;