@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$textPrimaryColor: #F65234;
$textSecondaryColor: #E1AD99;

$backgroundPrimaryColor: #35634D;
$backgroundSecondaryColor: #185B61;

$buttonPrimaryColor: #EEB767;
$buttonSecondaryColor: #B05E4F;

$titleFont: "Ms Madi", cursive;
$textFont: 'Quicksand', sans-serif;